@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Droid Serif', sans-serif;
    font-size: 14px;
    color: #2f2f2f;
    background-color: #f9f7f1;
  }
}
